.containerFlex {
  display: flex;
  text-align: center;
  justify-content: space-around;
}

.title {
  margin-bottom: 30px;
}

.buttonAdd {
  width: 100px;
  height: 40px;
  margin: 0 5px;
}

.p {
  font-weight: bold;
  margin: 5px 0;
  .span {
    font-weight: normal;
  }
}

.content {
  margin-top: 20px;
}

.colData {
  margin-left: 25%;
  text-align: left;
  margin-bottom: 50px;
}
